<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <meta charset="UTF-8">
  <title>Minimal working example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body ng-controller="AppController">
  <p>&nbsp;</p>
  <div class="container-fluid">
    <div class="form-inline">
      <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" id="username" placeholder="Input username" ng-model="username">
      </div>
      <button type="button" class="btn btn-primary mb-2" ng-disabled="!username" ng-click="join()">Join to chat</button>
    </div>

    <div class="form-group">

    </div>
    <div class="form-group">
      <label for="message">Message</label>
      <textarea class="form-control" id="message" rows="3" ng-model="message"></textarea>
    </div>
    <button type="button" class="btn btn-primary" ng-click="sendMessage()">Send</button>
    <hr>
    <div class="row">
      <div class="col-10">
        <div class="alert alert-success" role="alert">
          <dl ng-repeat="message in messages">
            <dt>Username: {{message.username}}</dt>
            <dd>Content: {{message.content}}</dd>
          </dl>
        </div>
      </div>
      <div class="col-2">
        <p>User list</p>
        <p ng-repeat="user in usernames">{{user}}</p>
      </div>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script src="angular.min.js"></script>
  <script>
    // AngularJS
    var myApp = angular.module('myApp', [])
    myApp.controller('AppController', ['$rootScope', '$scope', '$interval', function ($rootScope, $scope, $interval) {
      $scope.messages = [];
      $rootScope.users = [];
      $scope.usernames = []

      const socket = io('ws://localhost:3000');

      socket.on('connect', () => {
        // $events.appendChild(newItem('connect'));
        // socket.emit('new-user', 'DuongHK')
        // console.log('aaa')
        // Join to group chat
        $scope.join = () => {
          socket.emit('new-user', $scope.username);
          console.log($scope.username, 'joined to conversation');
        }

        $scope.sendMessage = () => {
          socket.emit('message', $scope.username, $scope.message)
          $scope.message = '';
        }

        socket.on('messages', (data, callback) => {
          $scope.messages.push({
            username: data.username,
            content: data.content,
          });
          $scope.$apply(function () {
            if (callback) {
              callback.apply(socket, args);
            }
          });
          

        })

        socket.on('usernames', (users, callback) => {
          console.log('Users updated', users)
          $scope.usernames = users;
          $scope.$apply(function () {
            if (callback) {
              callback.apply(socket, args);
            }
          });
        })

      });
    }])
  </script>
</body>

</html>